html body {
  background-color: #15202b;
}

.inputstyle:focus-visible {
  outline: none !important;
  box-shadow: none !important;
}
.inputstyle:focus {
  outline: none !important;
  box-shadow: none !important;
  border-color: white;
}
.tweetStyle{
  word-break: break-all;
}