html body {
  background-color: #15202b;
}

.inputstyle:focus-visible {
  outline: none !important;
  box-shadow: none !important;
}
.inputstyle:focus {
  outline: none !important;
  box-shadow: none !important;
  border-color: #fff;
}
.tweetStyle {
  word-break: break-all;
}
.user-form {
  border: 2px solid #fff;
  color: #fff;
  padding: 10%;
}
.user-form input {
  background-color: #15202b;
  color: #fff;
  font-weight: 100%;
}
.user-form input:focus-visible {
  background-color: #15202b;
  color: #fff;
}
